<div class="container">
    <div class="page-header">
      <h1>New Person</h1>
    </div>

        <%= render 'form' %>
</div>

<br></br>


  <div class="well example">
    <p>
      <strong>
        It should look like this:
      </strong>
    </p>

    <%= image_tag "new-person.png", class: "img-responsive" %>
  </div>
</div>
