<h1>New person</h1>

<%= render 'form' %>

<%= link_to 'Back', people_path %>

<div class="well example">
  <p>
    <strong>
      It should look like this:
    </strong>
  </p>

  <%= image_tag "new-person.png", class: "img-responsive" %>
</div>
